.download-app-mainbox{
    margin-top: 20px;
    width: 100%;
    background-color: #fafafa;
    text-align: center;
}

.download-app-mainbox .download-app-box{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 64px 40px 0 40px;
}
.download-app-mainbox .download-app-box h2{
    font-size: 21px;
    font-weight: 700;
    color: #333;
}

.download-app-mainbox .download-app-box .download-box{
    display: flex;
    /* align-items: center; */
    flex-flow: wrap;
    /* justify-content: center; */
}

.download-app-mainbox .download-app-box .download-box .right{
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.download-app-mainbox .download-app-box .download-box .right p{
    color: #333;
    font-size: 14px;

}
.download-app-mainbox .download-app-box .download-box .right .d-link{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px !important;

}
.download-app-mainbox .download-app-box .download-box .right .d-link .os{
    flex-basis: 33.33%;
    max-width: 33.333333%;
    text-align: right;
    color: #333;
    font-size: 14px;

}
.download-app-mainbox .download-app-box .download-box .right .d-link .img-box{
    flex-basis: 66.666667%;
    max-width: 66.666667%;
    display: flex;
}
.download-app-mainbox .download-app-box .download-box .right .d-link .img-box .img{
    flex-basis: 33.33%;
    max-width: 33.333333%;
}
.download-app-mainbox .download-app-box .download-box .right .d-link .img-box .img img{
    width: 90px;
    height: 50px;
}


.download-app-mainbox .download-app-box .download-box .imgbox{
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 50%;
    padding-left: 32px;
    display: flex;
    justify-content: flex-end;

}
.download-app-mainbox .download-app-box .download-box .imgbox img{
    width: 230px;
    height: 300px;
    


}